[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/lang/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-surround"]
	path = vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-javascript"]
	path = vim/pack/lang/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/vim-repeat"]
	path = vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/delimitMate"]
	path = vim/pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/pack/lang/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "vim/bundle/vim-css-color"]
	path = vim/pack/lang/start/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "vim/bundle/gitv"]
	path = vim/pack/lang/start/gitv
	url = https://github.com/gregsexton/gitv
[submodule "vim/bundle/targets.vim"]
	path = vim/pack/bundle/opt/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/bundle/scss-syntax.vim"]
	path = vim/pack/bundle/opt/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim
[submodule "vim/bundle/html5.vim"]
	path = vim/pack/lang/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "vim/bundle/vim-json"]
	path = vim/pack/lang/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/vim-easymotion"]
	path = vim/pack/bundle/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle/ftl-vim-syntax"]
	path = vim/pack/bundle/opt/ftl-vim-syntax
	url = https://github.com/chaquotay/ftl-vim-syntax.git
[submodule "vim/bundle/undotree"]
	path = vim/pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "vim/bundle/vim-perl"]
	path = vim/pack/lang/start/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/vim-mustache-handlebars"]
	path = vim/pack/bundle/opt/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/pack/bundle/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "zsh/plugins/zsh-git-prompt"]
	path = zsh/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
	ignore = dirty
[submodule "zsh/plugins/zgen"]
	path = zsh/plugins/zgen
	url = https://github.com/rslindee/zgen.git
[submodule "vim/bundle/vim-jsx"]
	path = vim/pack/lang/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-rsi"]
	path = vim/pack/bundle/start/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/bundle/lightline-hybrid.vim"]
	path = vim/pack/bundle/start/lightline-hybrid.vim
	url = https://github.com/cocopon/lightline-hybrid.vim.git
[submodule "vim/bundle/vim-jsdoc"]
	path = vim/pack/lang/start/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "vim/bundle/vim-grepper"]
	path = vim/pack/bundle/start/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "vim/bundle/ale"]
	path = vim/pack/lang/start/ale
	url = https://github.com/w0rp/ale.git
	ignore = dirty
[submodule "vim/bundle/ListToggle"]
	path = vim/pack/bundle/opt/ListToggle
	url = https://github.com/sunaku/ListToggle.git
[submodule "vim/bundle/base16-vim"]
	path = vim/pack/colours/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/pack/bundle/opt/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/vim-slash"]
	path = vim/pack/bundle/start/vim-slash
	url = https://github.com/junegunn/vim-slash.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/pack/bundle/opt/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/tagbar"]
	path = vim/pack/bundle/opt/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-sort-motion"]
	path = vim/pack/bundle/start/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion.git
[submodule "vim/bundle/ReplaceWithRegister"]
	path = vim/pack/bundle/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "vim/bundle/vim-textobj-indent"]
	path = vim/pack/bundle/start/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "vim/bundle/vim-textobj-line"]
	path = vim/pack/bundle/start/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/pack/bundle/start/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/pack/bundle/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/vim-system-copy"]
	path = vim/pack/bundle/start/vim-system-copy
	url = https://github.com/christoomey/vim-system-copy.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/pack/lang/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-lion"]
	path = vim/pack/bundle/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "vim/bundle/vim-qf"]
	path = vim/pack/bundle/opt/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/pack/bundle/opt/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/bundle/denite.nvim"]
	path = vim/bundle/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
[submodule "vim/bundle/denite-extra"]
	path = vim/bundle/denite-extra
	url = https://github.com/chemzqm/denite-extra.git
[submodule "vim/bundle/denite-git"]
	path = vim/bundle/denite-git
	url = https://github.com/neoclide/denite-git.git
[submodule "vim/bundle/vim-easygit"]
	path = vim/pack/lang/start/vim-easygit
	url = https://github.com/neoclide/vim-easygit.git
[submodule "vim/bundle/vim-textobj-comment"]
	path = vim/pack/bundle/start/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "vim/bundle/vim-textobj-brace"]
	path = vim/pack/bundle/start/vim-textobj-brace
	url = https://github.com/Julian/vim-textobj-brace
[submodule "vim/pack/bundle/opt/fzf.vim"]
	path = vim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/nvim-yarp"]
	path = vim/pack/bundle/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/bundle/vim-hug-neovim-rpc"]
	path = vim/pack/bundle/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "vim/bundle/deoplete.nvim"]
	path = vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "vim/bundle/LanguageClient-neovim"]
	path = vim/pack/lang/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "vim/pack/bundle/start/vim-asterisk"]
	path = vim/pack/bundle/start/vim-asterisk
	url = https://github.com/haya14busa/vim-asterisk
[submodule "vim/pack/bundle/start/traces.vim"]
	path = vim/pack/bundle/start/traces.vim
	url = https://github.com/markonm/traces.vim.git
[submodule "vim/pack/bundle/start/vim-highlightedyank"]
	path = vim/pack/bundle/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "vim/pack/bundle/start/clever-f.vim"]
	path = vim/pack/bundle/opt/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim.git
[submodule "vim/pack/lang/start/vim-signify"]
	path = vim/pack/lang/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/pack/bundle/start/vim-eunuch"]
	path = vim/pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/lang/start/yats.vim"]
	path = vim/pack/lang/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/pack/colours/start/vim-hybrid"]
	path = vim/pack/colours/start/vim-hybrid
	url = https://github.com/micke/vim-hybrid.git
[submodule "vim/pack/bundle/start/targets.vim"]
	path = vim/pack/bundle/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vim/pack/bundle/start/quickfix-reflector.vim"]
	path = vim/pack/bundle/start/quickfix-reflector.vim
	url = https://github.com/stefandtw/quickfix-reflector.vim.git
[submodule "vim/pack/colours/opt/vim-colors-pencil"]
	path = vim/pack/colours/opt/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "vim/pack/colours/opt/lightline-theme-pencil"]
	path = vim/pack/colours/opt/lightline-theme-pencil
	url = https://github.com/mikker/lightline-theme-pencil.git
[submodule "vim/bundle/deoplete-phpactor"]
	path = vim/bundle/deoplete-phpactor
	url = https://github.com/kristijanhusak/deoplete-phpactor.git
[submodule "vim/pack/lang/start/phpactor"]
	path = vim/pack/lang/start/phpactor
	url = https://github.com/phpactor/phpactor.git
